
.chat-box-container{
    width: 75vw;
    margin: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.chat-box-container .header{
    background-color: lightsteelblue;
    padding: 1rem 3rem;
    font-size: 1.2rem;
    text-transform: capitalize;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-box-container article{
    flex: auto;
    background-color: rgba(176, 196, 222, 0.1);
}

.chat-box-container .message-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(176, 196, 222, 0.1);
    padding: 1rem;
    gap: 1%;
}

.chat-box-container .message-box .send-btn{
    padding: 0.7rem 2rem;
    background-color: lightsteelblue;
    border-radius: 5px;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease;
}
.chat-box-container .message-box .send-btn:active{
    transform: scale(0.9);
}


.box{
    height: 100%;
    background-color: rgba(176, 196, 222, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: #999;
}

.chat-box-container > article{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    max-height: 100%;
    overflow: auto;
}

.chat-box-container article div{
    margin: 0.3rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

}

.chat-box-container article span{
    text-transform: capitalize;
    padding: 0.5rem 0.7rem;
    background-color: rgba(176, 196, 222, 0.2);
    font-size: 1rem;
    border-radius: 5px;
}

#right{
    flex-direction: row-reverse;
}

.chat-box-container .dustbin{
    cursor: pointer;
    transition: all 0.5s ease;
}

.chat-box-container .dustbin:hover{
    transform: scale(1.1);
}

.chat-box-container .dustbin:active{
    transform: scale(0.9);
}

